.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-size: 1.25rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.form-element > input {
    font-size: 1.25rem;
    padding: 0.25em;
}

.radio-list {
    display: flex;
    gap: 1.125em;
}
.radio-list > div {
    display: flex;
    align-items: center;
    gap: 0.25em;
}
.register-link {
    display: flex;
    justify-content: center;
}
.link {
    text-decoration: none;
    color: var(--clr-primary-400);
}