.primary-btn {
    display: block;
    width: 8em;
    padding: 0.5em 1em;
    font-size: 1.125rem;
    border-radius: 1em;
    border: none;
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-100);
    border: 2px solid var(--clr-primary-400);
    margin-inline: auto;
    transition: color, background-color 250ms ease-in-out ;
}
.primary-btn:hover {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-400);
}