* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-100: white;
  --clr-primary-400: blue; 
  --clr-primary-900: black;
}

body::-webkit-scrollbar {
  display: none;
}

input[type="radio"] {
  all: unset;
  aspect-ratio: 1;
  font: inherit;
  color: var(--clr-primary-400);
  width: 0.75em;
  position: relative;
  border: 1px solid var(--clr-primary-900);
}
input[type="radio"]::before {
  content: "✔️";
  position: absolute;
  bottom: -50%;
  right: 50%;
  transform: translate(50%, -25%);
  scale: 0;
  transition: scale 150ms ease-in-out;
}

input[type="radio"]:checked::before {
  scale: 1;
}

#login-page,
#register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}